<!--게임 설명-->
<div class="game_description">
  <p>게임 설명</p>
</div>

<!--테마 설명-->
<div id="box1" class="box blurred-bg">
  <!--theme_description-->
  <div class="content">
    <h2>Theme 1.</h2>
    <h1>CodeName :SMU</h1>
    <p>501호 실습실에서 과제를 하고 있던 대학생 A는</p>
    <p>[한 시간 안에 백신을 설치하지 않으면 학교의 모든 데이터가 삭제될 것]이라는</p>
    <p>경고 문자를 받게 되는데...</p>
    <p>제한 시간 내에 단서를 통해 백신을 찾아 설치하라.</p>
    <!--<p class="related">See also: <a href="https://codepen.io/ariona/details/LVZLGP/" target="_blank">Staged Dropdown Animation</a></p>  -->
  </div>
  <div class="reservation_btn">
    <a href="/reservations/new" class="btn">
    	<p>Go to Reservation</p>
    	<!--<i class="material-icons">arrow_forward</i>-->
    </a>
  </div>
</div>

<!--<div class="theme_description">-->
<!--  <h3>CodeName :SMU</h3>-->
  <!--예약하기 버튼-->
  <%#= link_to "예약하기", new_reservation_path, class: "btn" %>
<!--  <a href="/reservations/new" class="btn">-->
<!--  	<i class="material-icons">arrow_forward</i>-->
<!--  </a>-->
<!--</div>-->
