<!--예약 페이지-->
<h3>Theme. Sookmyung</h3>
<%= text_field_tag :date_of_tour, data:{ provide:'datepicker' } %>
<%#= form_for @reservation, new_reservation_path do |f| %>
  <%#= render partial: "board/reservation_form", locals: { f: f } %>
  <%#= f.hidden_field :theme_id, value: 1, class: "form-styling" %>
  <%#= f.label "날짜" %>
  <%#= f.date_field :date, class: "form-styling", autocomplete: false %>
  <%#= f.label "시간" %>
  <%#= f.time_field :time, class: "form-styling", autocomplete: false %>
<%# end %>